include LICENSE 
include README.md
include requirements.txt

include xbimer_cli/assets/applet/default.png
include xbimer_cli/assets/applet/main.py
include xbimer_cli/assets/applet/README.md

include xbimer_cli/assets/config/mac/.gitkeep

include xbimer_cli/assets/config/win/includes_ac22.json
include xbimer_cli/assets/config/win/includes_ac23.json
include xbimer_cli/assets/config/win/includes_ac24.json
include xbimer_cli/assets/config/win/includes_none.json
include xbimer_cli/assets/config/win/libraries_ac22.json
include xbimer_cli/assets/config/win/libraries_ac23.json
include xbimer_cli/assets/config/win/libraries_ac24.json
include xbimer_cli/assets/config/win/libraries_none.json

include xbimer_cli/assets/module/libs/.gitkeep

include xbimer_cli/assets/module/src/__entry__.cpp
include xbimer_cli/assets/module/src/dllmain.cpp
include xbimer_cli/assets/module/src/stdafx.cpp
include xbimer_cli/assets/module/src/stdafx.h
include xbimer_cli/assets/module/src/targetver.h

include xbimer_cli/assets/ziplibs/ac22.zip
include xbimer_cli/assets/ziplibs/ac23.zip
include xbimer_cli/assets/ziplibs/ac24.zip
include xbimer_cli/assets/ziplibs/cast.zip
include xbimer_cli/assets/ziplibs/pybind11.zip
include xbimer_cli/assets/ziplibs/Python37.zip




